<div class="row">
	<div class="col-md-10">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="bike in bikes" >
				<div class="row">
					<div class="col-md-4">
						<a ng-href="#/bike/{{bike.ID}}">
							<h3> {{bike.Name}}</h3>
						</a>
					</div>
					<div class="col-md-6" >
					Name : {{bike.Name}} || Brand : {{bike.Brand}} <br/> Description : {{bike.Description}}
					</div>
					<div class="col-md-1">
					<button ng-click='remove($index,bike)' type="button" class="btn btn-danger">Remove</button>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="col-md-2">
	<a href="#/new-bike" role="button" class="btn btn-primary">Add New Bike !</a>
	</div>
</div>
