<md-sidenav md-is-locked-open="true" class="md-whiteframe-z2">
	<md-list>
		<md-subheader class="md-no-sticky">Bikes</md-subheader>
		<md-list-item ng-repeat="bike in bikeCtrl.bikes">
			<md-button ng-click="bikeCtrl.selectBike(bike)" ng-class="{'selected' : bike === bikeCtrl.selected}">
			{{bike.Name}}|{{bike.Brand.Name}}
			</md-button>

		</md-list-item>
	</md-list>
</md-sidenav>
<!-- Container #4 -->
<md-content flex id="content">
	<h1>PROUT</h1>
	<h2>{{bikeCtrl.selected.Name}}</h2>
	<p>{{bikeCtrl.selected.Description}}</p>
	<p>{{bikeCtrl.selected.Brand.Name }}</p>
	<md-list>
		<md-list-item ng-repeat="component in bikeCtrl.selected.Components">
			{{component.Type.Name}} : {{component.Name}} by {{component.Brand.Name}}
		</md-list-item>
	</md-list>
	
</md-content>
