<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-9">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="component in components" >
				<div class="row">
					<div class="col-md-4">
						<a class="text-center" ng-href="/component/{{component.ID}}">
							<h3> {{component.Name}}</h3>
						</a>
					</div>
					<div class="col-md-6" >
					Name : {{component.Name}} || Brand : {{component.Brand.Name}} <br/> Description : {{component.Description}}
					</div>
					<div class="col-md-1">
					<button ng-click='remove($index,bike)' type="button" class="btn btn-danger">Remove</button>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="col-md-2">
	<a href="/new-component" role="button" class="btn btn-primary">Add New Component !</a>
	</div>
</div>
